<template name="about_twitter_auto">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 bg-info">
      <h4 class="page-header">Twitter Auto</h4>

<div class="panel panel-default">
    <div class="panel-body">
  		<p class="text-info">Twitter automatic manager for busy users</p>
  		<ul>
  			<li>The Twitter Auto let a user add and edit related hashtags.</li>
  			<li>Any tweet using those hashtags can be retweeted and/or like/Favorite.</li>
  			<li>It can acept follows and send them a thanks message.</li>
      </ul>
    </div>
  </div>

    </div>
  </div>
</template>