<template name="index">
  <div class="jumbotron" style="padding: 20px;">
	
	<img src="/favicon-96x96.png" alt="Twitter Auto logo"/>

	<h2>Twitter Auto</h2>
  	<h3>Twitter automatic manager for busy users</h3>
  	<ul>
  		<li>The Twitter Auto let a user add and edit related hashtags.</li>
  		<li>Any tweet using those hashtags can be retweeted and/or like/Favorite.</li>
  		<li>It can acept follows and send them a thanks message.</li>
    </ul>

<blockquote>
  <p>The only way of finding the limits of the possible is by going beyond them into the impossible.</p>
  <footer>Arthur C. Clarke in <cite title="Source Title">Profiles of the Future (1962)</cite></footer>
</blockquote>

  </div><div class="jumbotron text-center" style="padding: 20px;">
    <h2>Base</h2>
    <p>A starting point for Meteor applications.</p>
    <p><a class="btn btn-success" href="http://themeteorchef.com/base" role="button">Read the Documentation</a></p>
    <p style="font-size: 16px; color: #aaa;">Currently at v3.1.1</p>
  </div>
</template>
